#profile-smiley-wrapper {
	display: block;
}

#smileybutton {
	display: none;
}

.smiley_button > img {
	height: 22px;
	width: 22px;
	position: relative;
	left: -330px;
	margin: 4px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

table.smiley-preview img.smiley {
	max-height: 25px;
	max-width: 25px;
	cursor: pointer;
}

table.smiley-preview {
	border: 1px solid #AAAAAA;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 5px;
}

table.smiley-preview td {
	cursor: pointer;
}
